body {
    background-color: #7f0920;
    color: #0a0408;
}

#appTitle {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Staatliches', sans-serif;
    font-size: 80px;
}

#genreForm, #playBtn {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Fredoka One', sans-serif;
}

#movieInfo {
    width: 65%;
    margin: 32px auto;
}

#moviePoster, #movieText {
    width: 100%;
    float: none;
}

img#moviePoster {
    width: 50%;
    display: block;
    margin: 0 auto 20px auto;
}

#movieText {
    font-family: 'Questrial';
    color: #FEFBEA;
    line-height: 1.25;
}

#movieTitle, #movieOverview, #movieReleaseDate, #movieCast {
    padding: 10px 0;
}

#playBtn {
    margin-top: 20px;
    font-size: 25px;
    padding: 7px 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #B97828;
    color: #fdc238;
    cursor: pointer;
}

label {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
}

select {
    width: 200px;
    height: auto;
}

#likeOrDislikeBtns {
    text-align: center;
    margin: 0px auto;  
}

#likeBtn, #dislikeBtn {
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
}

#likeBtn {
    background-color: #249e57;
    color: darkgreen;
}

#dislikeBtn {
    background-color: #c74a4a;
    color: #910000;
}

#movieLists {
    width: 65%;
    margin: 20px auto;
    font-family: 'Questrial', sans-serif;
    color: #FEFBEA;
}

#movieLists ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}
